.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .textContainer {
    padding: 24px;

    h1 {
      font-size: 64px;
      color: black;
      font-weight: 800;
      cursor: pointer;
      font-size: 72px;
      background: linear-gradient(85deg, #ff9b04 27.02%, #be48f5 50.3%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover {
      h1 {
        color: #ec4e39;
      }
    }
  }
}
