.main {
  background-color: white;

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;

    h1 {
      font-size: 24px;
    }

    .navbarLinks {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
  }
}
