.main {
  background-color: white;
  height: 100vh;
  width: 100%;

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;

    h1 {
      font-size: 24px;
    }

    .navbarLinks {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
    }
  }
  .cursor {
    background-color: #111;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
